apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/kubevirt/kubevirt/releases/download/v1.1.0/kubevirt-operator.yaml
  - https://github.com/kubevirt/kubevirt/releases/download/v1.1.0/kubevirt-cr.yaml
  - virtualmachine-reader-clusterrole.yaml
  - virtualmachine-reader-clusterrolebinding.yaml
  - virtualmachine-reader-serviceaccount.yaml
  - virtualmachine-reader-token-secret.yaml