pod-gateway:
  image:
    repository: ghcr.io/angelnu/pod-gateway
    tag: v1.10.0
  DNS: 172.16.1.1
  addons:
    netshoot:
      enabled: true
    vpn:
      enabled: true
      type: gluetun
      gluetun:
        image:
          # TODO: Replace with ghcr.io/qdm12/gluetun when a versioned tag is available
          repository: docker.io/qmcgaw/gluetun
          tag: v3.36.0
      env:
        - name: VPN_SERVICE_PROVIDER
          value: mullvad
        - name: VPN_TYPE
          value: wireguard
        - name: VPN_INTERFACE
          value: wg0
        - name: FIREWALL
          value: "off"
        - name: DOT
          value: "off"
        - name: SERVER_CITIES
          value: Atlanta GA
        #- name: SERVER_HOSTNAMES
        #  value: us167-wireguard
        - name: LOG_LEVEL
          value: debug
      envFrom:
        - secretRef:
            name: mullvad
      securityContext:
        capabilities:
          add: ["NET_ADMIN"]
      networkPolicy:
        enabled: true
        egress:
          - to:
              - ipBlock:
                  cidr: 0.0.0.0/0
            ports:
              - port: 51820
                protocol: UDP
          - to:
              - namespaceSelector: {}
  routed_namespaces: ["downloads"]
  settings:
    VPN_INTERFACE: "wg0"
    VXLAN_IP_NETWORK: "172.16.1"
    VPN_BLOCK_OTHER_TRAFFIC: "true"
    VPN_TRAFFIC_PORT: "51820"
    #DNS_LOCAL_CIDRS: "local"
    NOT_ROUTED_TO_GATEWAY_CIDRS: "10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
    VPN_LOCAL_CIDRS: "10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
  webhook:
    gatewayDefault: true
    namespaceSelector:
      type: label
      label: routed-gateway
    image:
      repository: ghcr.io/angelnu/gateway-admision-controller
      tag: v3.10.0
